<launch>

	<arg name="robot_ip" default="naored" />
  	<arg name="robot_port" default="$(optenv NAO_PORT 9559)" />
  	<arg name="robot_name" default="naored" />
  	<arg name="character" default="sensitive_to_pain" />
 	<arg name="tau_c" default="20.0" />
  	<arg name="tau_t" default="15.0" />

  	
 	<param name="robot_ip" type="string" value="$(arg robot_ip)" />
 	<param name="robot_port" type="string" value="$(arg robot_port)" />
 	<param name="robot_name" type="string" value="$(arg robot_name)" />  
 	<param name="character" type="string" value="$(arg character)" />
 	<param name="tau_c" type="double" value="$(arg tau_c)" />  
 	<param name="tau_t" type="double" value="$(arg tau_t)" />  
 	<param name="config_file" type="string" value="$(find somatosensory_system)/config/xml/character.xml" />  

  	<!-- Launch Current Stimulus -->
  	<node pkg="somatosensory_system" type="CurrentStimulus.py" name="$(arg robot_name)_current_stimulus" output="log"/>

  	<!-- Launch Temperature Stimulus -->
  	<node pkg="somatosensory_system" type="TemperatureStimulus.py" name="$(arg robot_name)_temperature_stimulus" output="log"/>

  	<!-- Launch Roboception -->
  	<node pkg="somatosensory_system" type="Roboception.py" name="$(arg robot_name)_$(arg character)_roboception" output="log"/>
  	
</launch>